.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0%;
}

.thumbnail .caption-full{
    padding: 9px;
} 

.delete-form {
    display: inline;
}

#index_thumbnails{
    height: 300px;
}

#index_thumbnails_imgs{
    height: 150px;
}